<form name="adminForm" novalidate class="new-video-form" xmlns="http://www.w3.org/1999/html">
    Tytuł filmu: <input class="admin-input-vid" type="text" ng-model="videoFactory.videoPreProducts.title"/><br/>
    PEŁNY link do filmiku na Youtubie: <input class="admin-input-vid" type="text" ng-model="videoFactory.videoPreProducts.url" ng-minlength="5"/>
    <br />
    <button
            ng-disable="adminForm.$invalid || adminForm.$pristine"
            ng-click="
            videoRepository.store(videoFactory.videoFromPreProducts());
            pageChanged(pagination.current);
            ">DODAJ FILMIK DO FAZY
    </button>
    <br/>
    <label ng-repeat="category in videoFactory.videoPreProducts.categories">
        <input
                type="checkbox"
                ng-model="category.turnedOn"
                > {{category.name}}
        </input>
    </label>
</form><br/>

<table>
    <tr dir-paginate="pVideo in paginatedVideos | itemsPerPage: 25" total-items="totalVideos">
        <td><img src="http://i1.ytimg.com/vi/{{pVideo.vendorVideoId}}/default.jpg" width="120" height="90" /></td>
        <td>
            <form name="videoModifyForm" novalidate class="modify-video-form">
                <input class="admin-input-vid" size="50" type="text" ng-model="pVideo.title"/><br/>
                <label ng-repeat="category in categories">
                    <input
                            type="checkbox"
                            ng-checked="pVideo.belongsTo(category)"
                            ng-true-value="add"
                            ng-false-value="remove"
                            ng-click="changeVideoCategoryBelonging($event, pVideo, category)"
                            > {{category.name}}
                    </input>
                </label><br/>
                <button
                        ng-disable="adminForm.$invalid || adminForm.$pristine"
                        ng-click="
                            videoRepository.store(pVideo);
                            pageChanged(pagination.current);
                        ">Zapisz
                </button>
                <button
                        ng-disable="adminForm.$invalid || adminForm.$pristine"
                        ng-click="
                            videoRepository.remove(pVideo);
                            pageChanged(pagination.current);
                        ">Usuń film
                </button>
            </form>
        </td>
        <td><a href="/play/{{pVideo.videoId}}">Link do filmu</a></td>
    </tr>
</table>

<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>