<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=155047164703791&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div id="by" class="extras">
    <!--<div google-adsense>-->
        <!--<ins class="adsbygoogle"-->
            <!--data-ad-client="ca-pub-4971215051679349"-->
            <!--data-ad-slot="1084191838"-->
            <!--style="display:inline-block;width:728px;height:90px">-->
        <!--</ins>-->
        <!--<script>-->
            <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
        <!--</script>-->
    <!--</div>-->
</div>
<section id="top">
    <div id="logo"></div>
    <p>Dobra faza z youtube bez przerwy, nie trać czasu na szukanie!
        <div id="facebook-like-wrapper">
    <div class="fb-like" data-href="https://www.facebook.com/dobrafaza" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
        </div>
    </p>
</section>
<section id="content" class="ng-scope">
    <div id="the">
        <!--<div google-adsense>-->
            <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
            <!--<ins class="adsbygoogle"-->
                 <!--data-ad-client="ca-pub-4971215051679349"-->
                 <!--data-ad-slot="5638815837"-->
                 <!--style="display:inline-block;width:468px;height:15px">-->
            <!--</ins>-->
            <!--<script>-->
                <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
            <!--</script>-->
        <!--</div>-->
    </div>
    <aside class="column">
        <div id="beard">
            <div google-adsense>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     data-ad-client="ca-pub-4971215051679349"
                     data-ad-slot="8467857838"
                     style="display:inline-block;width:120px;height:600px">
                </ins>
            </div>
        </div>
    </aside>
    <div id="player">
        <div>
            <section>
                <div id="ytplayer" youtube-player>
                </div>
            </section>
        </div>
    </div>
    <aside class="column">
        <div id="next" ng-click="videoPlayer.playNextVideo()">
            <p>Następny</p>
        </div>
        <div id="of">
            <div google-adsense>
                <ins class="adsbygoogle"
                     data-ad-client="ca-pub-4971215051679349"
                     data-ad-slot="2421324235"
                     style="display:inline-block;width:125px;height:125px">
                </ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </aside>
</section>
