<html ng-app="dobraFaza">
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>dobraFAZA.pl</title>
    <meta name="description" content="Dobra faza z youtube bez przerwy, nie trać czasu na szukanie!">
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!">
    <meta property="og:title" content="{{ video.title }}" />
    <meta property="og:site_name" content="DobraFaza" />
    <meta property="og:url" content="http://dobrafaza.pl/play/{{video.videoId}}" />
    <meta property="og:description" content="Włączasz i oglądasz, nie trać czasu na szukanie..." />
    <meta property="og:type" content="video.movie" />
    <meta property="og:image" content="http://i1.ytimg.com/vi/{{video.vendorVideoId}}/hqdefault.jpg" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
      <link rel="stylesheet" href="styles/foundation.min.css" />
      <link rel="stylesheet" href="styles/style.css" />
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE8]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-view></div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
         ga('create', 'UA-44039554-1', 'dobrafaza.pl');
         ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-easyfb/angular-easyfb.js"></script>
    <script src="bower_components/angular-adaptive-detection/src/angular-adaptive-detection.js"></script>
    <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/advertisement/adsense.js"></script>
    <script src="scripts/voting/event_subscriber.js"></script>
    <script src="scripts/voting/voting_animations.js"></script>
    <script src="scripts/event_publisher/event_publisher.js"></script>
    <script src="scripts/movie_playback/events/VideoPlaybackStarted.js"></script>
    <script src="scripts/movie_playback/seen_videos.js"></script>
    <script src="scripts/movie_playback/video_filter.js"></script>
    <script src="scripts/movie_playback/category.js"></script>
    <script src="scripts/movie_playback/video.js"></script>
    <script src="scripts/movie_playback/playlist.js"></script>
    <script src="scripts/movie_playback/youtube_player.js"></script>
    <script src="scripts/movie_playback/video_player.js"></script>
    <script src="scripts/movie_playback/playback_controller.js"></script>
    <script src="scripts/admin/admin_controller.js"></script>
    <script src="scripts/voting/events/VoteCastEvent.js"></script>
    <script src="scripts/voting/voting_controller.js"></script>
    <script src="scripts/voting/voter.js"></script>
    <!-- endbuild -->
</body>
</html>
